.vcusomcolor::before {
    background: #7b7b7b !important
}

span.vertical-timeline-element-date {
    color: #000;
}

.close {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    text-decoration: none;
    font-family: sans-serif;
    background: #373737;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3)
}

.whitebdy {
    padding-top: 70px;
    background: #fff;
}