.vcusomcolor::before {
    background: #cfcfcf !important
}

span.vertical-timeline-element-date {
    color: #000;
}

.close {
    position: fixed;
    top: 4px;
    right: 18px;
    font-size: 40px;
    text-decoration: none;
    font-family: sans-serif;
    background: #373737;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.whitebdy {
    padding-top: 70px;
    background: #fff;
}



.ReactModal__Content.ReactModal__Content--after-open {
    top: 1px !important;
    left: 1px !important;
    right: 1px !important;
    bottom: 1px !important;
    background: #ffffff !important;
}

@media only screen and (max-width: 600px) {
    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
        padding: 1rem !important;
        width: 83% !important;
    }
}