.portfolio-wraper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.ptitle {
    text-transform: uppercase;
    -webkit-letter-spacing: .125rem;
    -moz-letter-spacing: .125rem;
    -ms-letter-spacing: .125rem;
    letter-spacing: .125rem;
    font-family: Poppins, Helvetica, sans-serif;
    color: rgb(60, 72, 86);
    margin: 50px 0;
    padding: 20px 0;
    background: linear-gradient(to right, #D585FF 0%, #00FFEE 100%);
    border-radius: 16px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .portfolio-wraper {
        grid-template-columns: 50% 50%;
    }

}

@media (max-width: 767px) {
    .portfolio-wraper {
        grid-template-columns: 100%;
    }
}

@media (min-width: 767px) {
    /* .portfolio-wraper {
        background: #f5f9fb;
        border-radius: 16px;
        padding: 50px;
    } */

    /* .portfolio-wraper {
        background: #f5f9fb;
        margin: -8px !important;
        padding: 50px;
    } */
}

.fullpage,
.portfolio-wraper {
    background: #fff;
    margin: -8px !important;
    padding: 50px;
}

.portfolio-img {

    box-sizing: border-box;
    padding-bottom: 32px;
    background-color: white;
    position: relative;
    /* height: 100%; */
    cursor: pointer;
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 16px;

}